.quotation-marked::before {
    content: '“'; 
    display: inline-block;
    margin-right: 0.25rem; 
  }
  
  .quotation-marked::after {
    content: '”'; 
    display: inline-block;
    margin-left: 0.25rem; 
  }
  
  .list--tick {
    list-style-image: url(../assets/checkIcon.png);
    padding-left: 2rem;
  }