html,
body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Toogle {
    font-family: sans-serif;
    text-align: center;
}

.switch {
    width: 70px;
    height: 40px;
    background-color: #9E77ED;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 50px;
    padding: 5px;
    cursor: pointer;
}

.switch[data-isOn="true"] {
    justify-content: flex-end;
}
.colored-text{
    color: #9E77ED;
}
.handle {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50px;
}